services:
  - type: web
    name: app-menus-cocina
    runtime: python
    buildCommand: ""
    startCommand: "python app.py"
    envVars:
      - key: FLASK_ENV
        value: production
    plan: free